*{
    box-sizing: border-box;
}
.frame{
    display: flex;
    border: 1px solid black;
    width: 400px;
    flex-direction: column;
    flex-wrap: wrap;
}
.display{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 100px;
    margin: 7px;
    flex-wrap: wrap;
    overflow: hidden;
}
.display>*{
    border: 1px solid red;
    flex: 1;

}