*{
    box-sizing: border-box;
}
.frame{
    display: flex;
    border: 1px solid black;
    width: 400px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.display{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 7px;
    height: 100px;
}
.display > *{
    max-height: 100%;
    max-width: 100%;
    word-break: break-word;
    overflow: hidden;
    display: flex;
    align-self: flex-end;
    flex-grow: 1;
}
button{
    margin: 1px;
    width: 125px;
    height: 50px;
}
.buttons{
    justify-content: space-around;
    margin: 7px;
    display: flex;
    flex-wrap: wrap;
}